name: app-build-android
on:
  workflow_dispatch:
  push: # 临时加这个，让它自动触发一次激活显示
    branches:
      - master
jobs:
  build-android:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.0"
          channel: "stable"
          cache: true
      - name: Flutter Doctor
        run: flutter doctor -v
      - name: Accept Android Licenses
        run: yes "y" | flutter doctor --android-licenses || true
      - name: Flutter Clean
        run: |
          cd simple_live_app
          flutter clean
      - name: Restore packages
        run: |
          cd simple_live_app
          flutter pub get --verbose
      - name: Install flutter_distributor
        run: dart pub global activate flutter_distributor
      - name: Build APK
        run: |
          cd simple_live_app
          flutter build apk --release --target-platform android-arm64 --verbose --stacktrace
      - name: Debug Outputs
        if: always()
        run: ls -laR simple_live_app/build/app/outputs/ || echo "No outputs"
      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: android-arm64
          path: simple_live_app/build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
      - run: echo "Status: ${{ job.status }}"
